version: "3.9"

services:

  keycloak-db:
    image: postgres:16
    container_name: keycloak_db
    restart: unless-stopped
    env_file:
      - environments/keycloak.env
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready" ]
      start_period: 30s
      interval: 10s
      timeout: 10s
      retries: 20
    volumes:
      - keycloak_db_data:/var/lib/postgresql/data
    networks:
      - keycloak-network

  keycloak:
    image: quay.io/keycloak/keycloak:26.0
    container_name: keycloak
    restart: unless-stopped
    command:
      - start-dev
      - --import-realm
    env_file:
      - environments/keycloak.env
    volumes:
      - ./configs/realm-juice-shop.json:/opt/keycloak/data/import/realm-juice-shop.json
    ports:
      - "8080:8080"
      - "9000:9000"
    healthcheck:
      test: [ "CMD-SHELL", "exec 3<>/dev/tcp/127.0.0.1/9000;echo -e 'GET /health/ready HTTP/1.1\r\nhost: http://localhost\r\nConnection: close\r\n\r\n' >&3;if [ $? -eq 0 ]; then echo 'Healthcheck Successful';exit 0;else echo 'Healthcheck Failed';exit 1;fi;" ]
      interval: 30s
      timeout: 10s
      retries: 3
    depends_on:
      keycloak-db:
        condition: service_healthy
    networks:
      - keycloak-network

  application-db:
    image: mysql:8.0
    container_name: mysql8
    command:
      - --default-authentication-plugin=mysql_native_password
    env_file:
      - environments/application_db.env
    ports:
      - '3307:3306'
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u", "root", "-p$$MYSQL_ROOT_PASSWORD"]
      start_period: 30s
      timeout: 10s
      retries: 20
    volumes:
      - application_db_data:/var/lib/mysql
    networks:
      - app-network

  core-service:
    image: ghcr.io/konstannguyen/juiceshop_core_service:latest
    container_name: core_service
    restart: unless-stopped
    env_file:
      - environments/core_service.env
    depends_on:
      application-db:
        condition: service_healthy
    ports:
      - "8082:8082"
    networks:
      - app-network

#  core-service:
#    build: C:/Users/lop97/Documents/SourceCodes/IdeaProjects/core-service
#    container_name: core_service
#    restart: unless-stopped
#    env_file:
#      - environments/core_service.env
#    depends_on:
#      application-db:
#        condition: service_healthy
#    ports:
#      - "8082:8082"
#    networks:
#      - app-network

  user-service:
    image: ghcr.io/konstannguyen/juiceshop_user:latest
    container_name: user_service
    restart: unless-stopped
    env_file:
      - environments/user.env
    depends_on:
      application-db:
        condition: service_healthy
    ports:
      - "21501:21501"
    networks:
      - app-network

  voucher-service:
    image: ghcr.io/nguyenphucminhkhang/juiceshop_voucher_service:latest
    container_name: voucher_service
    restart: unless-stopped
    env_file:
      - environments/voucher.env
    ports:
      - "21502:21502"
    depends_on:
      application-db:
        condition: service_healthy
    networks:
      - app-network

  api-gateway:
    image: ghcr.io/konstannguyen/juiceshop_gateway:latest
    container_name: api_gateway
    restart: unless-stopped
    env_file:
      - environments/api_gateway.env
    ports:
      - "21500:21500"
    depends_on:
      user-service:
        condition: service_started
      core-service:
        condition: service_started
      voucher-service:
        condition: service_started
      keycloak:
        condition: service_healthy
    networks:
      - app-network

#  api-gateway:
#    container_name: api_gateway
#    build: C:/Users/lop97/Documents/SourceCodes/IdeaProjects/api-gateway
#    restart: unless-stopped
#    env_file:
#      - environments/api_gateway.env
#    ports:
#      - "21500:21500"
#    depends_on:
#      user-service:
#        condition: service_started
#      core-service:
#        condition: service_started
#      voucher-service:
#        condition: service_started
#      keycloak:
#        condition: service_healthy
#    networks:
#      - app-network

  front-end:
    image: ghcr.io/konstannguyen/juiceshop_frontend:latest
    restart: unless-stopped
    env_file:
      - environments/front_end.env
    volumes:
      - ./configs/nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "5173:80"
    networks:
      - app-network

networks:
  keycloak-network:
    driver: bridge
  app-network:
    driver: bridge

volumes:
  keycloak_db_data:
  application_db_data: