version: "3.9"

name: "services-compose"

services:

  core-service:
    image: ghcr.io/konstannguyen/juiceshop_core_service:latest
    container_name: core_service
    restart: always
    env_file:
      - environments/core_service.env
    ports:
      - "8082:8082"
    networks:
      - app-network

  user-service:
    image: ghcr.io/konstannguyen/juiceshop_user:latest
    container_name: user_service
    restart: always
    env_file:
      - environments/user.env
    ports:
      - "21501:21501"
    networks:
      - app-network

  api-gateway:
    image: ghcr.io/konstannguyen/juiceshop_gateway:latest
    container_name: api_gateway
    restart: always
    env_file:
      - environments/api_gateway.env
    ports:
      - "21500:21500"
    depends_on:
      - user-service
      - core-service
    networks:
      - app-network

  fe:
    container_name: front_end
    restart: always
    build: ./juice-shop-fe
    env_file:
      - environments/front_end.env
    volumes:
      - ./configs/nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "5173:80"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge