services:

  keycloak:
    image: quay.io/keycloak/keycloak:26.0
    container_name: keycloak
    restart: always
    command:
      - start-dev
    env_file:
      - keycloak.env
    ports:
      - "8081:8080"   # Keycloak exposed port on host
    depends_on:
      - keycloak-db
    networks:
      - app-network

  keycloak-db:
    image: postgres:16
    container_name: keycloak_db
    restart: always
    env_file:
      - keycloak.env
    ports:
      - "5433:5432"
    volumes:
      - keycloak_db_data:/var/lib/postgresql/data
    networks:
      - app-network

  core-service:
    image: ghcr.io/konstannguyen/juiceshop_core_service:latest
    container_name: core_service
    restart: always
    env_file:
      - core_service.env
    ports:
      - "8082:8082"
    networks:
      - app-network

  user-service:
    image: ghcr.io/phuongp2003/juiceshop_user:latest
    container_name: user_service
    restart: always
    env_file:
      - user.env
    ports:
      - "21501:21501"
    networks:
      - app-network

#  user-service:
#    build:
#      context: ./user-service   # trỏ thẳng tới submodule
#      dockerfile: Dockerfile    # nếu Dockerfile tên khác mặc định
#    container_name: user_service
#    restart: always
#    env_file:
#      - user.env
#    ports:
#      - "21501:21501"
#    depends_on:
#      - keycloak-db
#      - keycloak
#    networks:
#      - app-network

  api-gateway:
    image: ghcr.io/konstannguyen/juiceshop_gateway:latest
    container_name: api_gateway
    restart: always
    env_file:
      - api_gateway.env
    ports:
      - "21500:21500"
    networks:
      - app-network

  front-end:
    image: ghcr.io/konstannguyen/juiceshop_frontend:latest
    container_name: front_end
    restart: always
    ports:
      - "5173:80"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  keycloak_db_data: